<h1>Welcome, <%= @teacher.name %></h1>


<!-- <div class="grid-items fa-spin"> -->
<div class="grid-items">
  <a href="javascript:void(0)" class="grid-item">
    <i class="fa fa-motorcycle fa-5x"></i>
    <h1>Number of Assignments</h1>
    <p><%= Assignment.count %> Active Assignments</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
    <i class="fa fa-graduation-cap fa-5x"></i>
    <h1>Number of Parents</h1>
    <p><%= Parent.count %> Parents</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big">
    <i class="fa fa-child fa-5x"></i>
    <h1>Number of Students</h1>
    <p><%= Student.count %> Students </p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <i class="fa fa-coffee fa-5x"></i>
    <h1>Coffee Consumed</h1>
    <p> A lot, like seriously a lot. </p>
  </a>
  <!-- <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
    <h1>Last Grid Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a> -->
  <!-- <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    <h1>A Grid Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a> -->
  <!-- <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    <h1>Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a>
</div> -->



<!-- <div class="stats">
  <ul>
    <li><%= Student.count %><span>Number of Students</span></li>
    <li><%= Parent.count %><span>Number of Parents</span></li>
    <li><%= Assignment.count %><span>Number of Assignments</span></li>
    <li>1<span>Number of Times Anna Angered Due to Removal of Pug</span></li>
  </ul>
</div> -->







<!-- <div >
  <%# link_to "New Assignment", new_assignment_path %>
  <%# link_to "All Assignments", assignments_path %>
  <%# link_to "New Student", new_student_path %>
  <%# link_to "View Students", students_path %>
  <%# link_to "View Parents", parents_path %>
</d#v> -->
