<div class="app-form">



<p>
  <strong>Grades:</strong>
  <% @student.grades.each do |g| %>
    <%= g.score %> <%= link_to "Pdf", "#{g.upload_pdf}" %>
  <% end %>
</p>

  <p>
    <strong>Grades:</strong>

  </p>



  <div >
    <%= link_to 'Edit', edit_student_path(@student) %>
    <%= link_to 'View Roster', students_path %>
    <%= link_to 'Home', root_path %>
  </div>
</div>
