<!DOCTYPE html>
<html>
  <head>
    <title>Gradebook</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <!-- <body class="fa-pulse"> <!-- If you want to really die --> 
  <!-- <body class="fa-spin"> -->
  <body>
    <% if session[:user_id] %>
      <%= render '/layouts/header' %>
    <% end %>
    <p id="notice" class="center"><%= notice %></p>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <%= render '/layouts/footer' %>
  </body>
</html>
